In [42]:
import pandas as pd
import numpy as np

rumah = pd.read_csv('test.csv')
kereta = pd.read_csv('train.csv')
data_rumah = pd.read_csv('melb_data.csv')

In [43]:

data_rumah.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [44]:
data_rumah.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [45]:
y = data_rumah.Price
fitur_rumah = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude','Longtitude']
X = data_rumah[fitur_rumah]
X.describe()

              Rooms      Bathroom       Landsize     Lattitude    Longtitude
count  13580.000000  13580.000000   13580.000000  13580.000000  13580.000000
mean       2.937997      1.534242     558.416127    -37.809203    144.995216
std        0.955748      0.691712    3990.669241      0.079260      0.103916
min        1.000000      0.000000       0.000000    -38.182550    144.431810
25%        2.000000      1.000000     177.000000    -37.856822    144.929600
50%        3.000000      1.000000     440.000000    -37.802355    145.000100
75%        3.000000      2.000000     651.000000    -37.756400    145.058305
max       10.000000      8.000000  433014.000000    -37.408530    145.526350

In [46]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
train_X, val_X, train_y, val_y = train_test_split(X,y,random_state=0)
X.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
0      2       1.0     202.0   -37.7996    144.9984
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
3      3       2.0      94.0   -37.7969    144.9969
4      4       1.0     120.0   -37.8072    144.9941

In [47]:
model_rumah = DecisionTreeRegressor()
model_rumah.fit(train_X, train_y)

DecisionTreeRegressor()

In [48]:
print("Prediksi 5 rumah")
print(val_X.head())
print("Prediksinya adalah")
print(model_rumah.predict(val_X.head()))

Prediksi 5 rumah
       Rooms  Bathroom  Landsize  Lattitude  Longtitude
8505       4       2.0     450.0  -37.86100   144.89850
5523       2       1.0     172.0  -37.81000   144.88960
12852      3       1.0     581.0  -37.76740   144.82421
4818       3       2.0     128.0  -37.85260   145.00710
12812      3       2.0     480.0  -37.72523   144.94567
Prediksinya adalah
[1400000.  950000.  571000. 1220000. 1021000.]

In [49]:
data = {'Rooms':[4], 'Bathroom':[1],'Landsize':[200],'Lattitude':[-37.7994],'Longtitude':[144.2222]} 
new_input_df = pd.DataFrame(data) 
new_input_df
print("The predictions are")
print(model_rumah.predict(new_input_df))

The predictions are
[463000.]

In [50]:
val_predictions = model_rumah.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

247079.9417771232